@function rem($px) {
    @return ($px / 16px) * 1rem;
}

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 600,
    "bold": 700
);

$font-sizes: (
    "h1": rem(37px),
    "h2": rem(31px),
    "h3": rem(27px),
    "h4": rem(24px),
    "h5": rem(17px),
    "h6": rem(15px)
);

$paragraph-margin-bottom: 0;

$muli: "Muli", sans-serif;
$nunito: "Nunito Sans", sans-serif;

$font-families: ($muli, $nunito);

// @font-face {
//     font-family: "Muli";
//     font-weight: 300;
//     font-display: swap;
//     src: local("Muli Light"), local("Muli-Light"), url("/fonts/Muli/Muli-Light.ttf") format("ttf");
// }

// @font-face {
//     font-family: "Muli";
//     font-weight: 400;
//     font-display: swap;
//     src: local("Muli Regular"), local("Muli-Regular"), url("/fonts/Muli/Muli-Regular.ttf") format("ttf");
// }

// @font-face {
//     font-family: "Muli";
//     font-weight: 600;
//     font-display: swap;
//     src: local("Muli SemiBold"), local("Muli-SemiBold"), url("/fonts/Muli/SemiBold.ttf") format("ttf");
// }

// @font-face {
//     font-family: "Muli";
//     font-weight: 700;
//     font-display: swap;
//     src: local("Muli Bold"), local("Muli-Bold"), url("/fonts/Muli/Bold.ttf") format("ttf");
// }

@for $i from 1 through 6 {
    h#{$i} {
        font: {
            family: "Muli", sans-serif;
            size: map-get($map: $font-sizes, $key: "h#{$i}");
            // weight: map-get($map: $font-weights, $key: "medium");
            weight: 300;
        }
        line-height: 1.35;
        color: $title-color;
    }

    .h#{$i} {
        font-size: map-get($map: $font-sizes, $key: "h#{$i}");
    }
}

p {
    font: {
        family: "Nunito Sans", sans-serif;
        weight: map-get($map: $font-weights, $key: "regular");
    }
    line-height: 1.57;
    color: $text-color;
    margin: 0;
}

.muli {
    font: {
        font-family: "Muli", sans-serif;
    }
}

.nunito {
    font: {
        family: "Nunito Sans", sans-serif;
        size: map-get($map: $font-weights, $key: "regular");
    }

    &--light {
        font-weight: map-get($map: $font-weights, $key: "light");
    }

    &--medium {
        font-weight: map-get($map: $font-weights, $key: "medium");
    }

    &--bold {
        font-weight: map-get($map: $font-weights, $key: "bold");
    }
}
