.hero {
    min-height: 100vh;

    &__title,
    &__subtitile {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        line-height: 1.45;
    }

    &__title {
        font: {
            size: 2.95em;
        }
    }

    &__subtitle {
        font: {
            weight: 400;
            size: 1.1em;
        }
    }
}

#contacto-section {
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center / cover fixed;
}

.hero__logo {
    width: 220px;
}
